.console-page {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 42px 0 56px;
  overflow-x: hidden;
}

.input-wrap {
  margin: -138px 44px 0;
  position: relative;
  z-index: 3;
}

@media (max-width: 560px) {
  .console-page {
    max-width: none;
  }

  .input-wrap {
    margin-left: 32px;
    margin-right: 32px;
  }
}
